.border{
    border: 2px solid red;
    margin: 3px;


}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;

}

.items-center{
    align-items: center;
}

.rounded{
    border-radius: 7px;
}

.m1{
    margin: 5px;

}

.p1{
    padding: 10px;
        
}